/* TODO change the pic sizes */

body {
    font-family: 'Poppins';
    margin: 20px 200px 100px 100px;
    background-color: #fff;
}

.button {
    height: 27px;
    width: 90px;
    background-color: #58A9A5;
    border: 1px solid #58A9A5;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poppins';
    font-size: 9px;
    margin: 0;
}


/* HEADER section */
.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    flex-grow: 1;
}

.logo__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__pic {
    height: 16px;
    /* width: 12px; */
}

.logo__text {
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    color: #58A9A5;
    padding-left: 2px;
}

nav {
    flex-grow: 2;
    padding-right: 20%;
}

.header__navbar {
    display: flex;
    justify-content: space-around;
}

.navbar__item {
    list-style-type: none;
}

.navbar__link {
    font-size: 9px;
    line-height: 14px;
    text-decoration: none;
    color: #404242;
}

.navbar__link:active {
    border-bottom: 2px solid #FEC62D;
    color: #58A9A5;
}

/* INTRO */
.intro {
    display: flex;
    padding-top: 10px;
    padding-right: 7%;
    
}

.intro__text {
    max-width: 25%;
    padding-top: 10px;
    padding-right: 35%;
}

.intro__text__header {
    font-size: 22px;
    font-weight: 900;
}

.usual-text {
    font-size: 10px;
    margin: 0 auto 0 auto;
}

.intro__pic {
    background-image: url('./img/intro_pic_background.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 260px;
    width: 277px;
}

.intro__pic__pic {
    width: 241px;
    height: 241px;
}

/* SECTION */
.section__header {
    display: flex;
    flex-direction: column;
    position: relative;

}

.section__container {
    display: flex;
    flex-direction: column;
    height: 116px;
}

.section__title {
    margin: 10px auto 0 auto;
    text-align: center;
}


.container__pic {
    display: inline-block;
    height: 100%;
}

.container__top {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}


.pic-container {
    height: 200px;
}

.container_bottom__description {
    display: flex;
    flex-direction: column;
}

/* HOW IT WORKS */
.how-it-works {
    padding-top: 20px;
}

.how-it-works__header {
    width: 17%;
    margin: auto;
    margin-bottom: 2em;
    position: relative;
    right: 6%;
}

.how-it-works__header-text {
    text-align: center;
}

.how-it-works__top {
    display: flex;
    justify-content: space-between;
    height: 116px;
    padding-right: 15%;
}

.how-it-works__top-pic {
    height: 116px;
}

.how-it-works__description {
    background-color: #CCF0E6;
    width: 183px;
    display: flex;
    flex-direction: column;
}

.description__text-container {
    position: relative;
    left: 55%;
    padding: 15px 0;
    width: 63%;
}

.description__text-container::after {
    content: '';
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius:50%;
    position: absolute;
    bottom: -1px;
    right: 192px;
}

.descripton__text {
    font-size: 7px;
    color: #486958;
}

.description__video {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    align-items: center;
}

.description__triangle {
    background-color: #FEC62D;
    width: 18px;
    height: 20px;
    clip-path: polygon(100% 50%, 0 25%, 0 75%);
    position: relative;
    bottom: 27%;
    left: 23%;
}

.description__video-link {
    font-size: 7px;
    color: #486958;
    text-decoration: none;
    letter-spacing: 0.2em;
}

.how-it-works__bottom {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-between;
}

.how-it-works__bottom-description {
    width: 25%;
    padding-right: 20%;
}


.how-it-works__bottom-header {
    width: 60%;
font-size: 13px;
}

.how-it-works__bottom-text {
    width: 80%;
    font-size: 10px;

}
/* OUR PROJECT */

.our-project {
    padding-right: 10%;
}


.our-project__two-lines {
    height: 3px;
    width: 5%;
    border-top: 1px solid #58A9A5;
    border-bottom: 1px solid #58A9A5;
    position: relative;
    left: 7%;
    margin-top: 0.7em;
    margin-bottom: 0;
}

.our-project__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 3em;
}

.projects-description__item {
    width: 150px;
}

.projects-description__header {
    color: #58A9A5;
    font-size: 12px;
    padding-bottom: 0;
    margin: 0;
}

.projects-description__text {
    margin: 0;
    font-size: 8px;
    color: #486958;
}

.our-project__pic {
    height: 150px;
}

/* TESTIMONIAL */


.testimonial {
    padding: 3em;
}
.brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10% 3% 10%;
}

.testimonial__pic-klamby {
    max-height: 80px;
}

.testimonial__pic-mayoutfit {
    max-height: 30px;
}
.testimonial__pic-zalora {
    max-height: 15px;
}

.testimonial__pic-geulis {
    max-height: 43px;
}

.info {
    display: flex;
    flex-direction: row;
}

.info__pic-item {
    width: 205px;
}

.info__item {
    width: 333px;
    height: 233px;
    background-color: #CCF0E6;
    margin: 0 0 0 20%;
}

.stats {    
    width: 147%;
    display: flex;
    flex-direction: row;
}

.stats__number {
    color: #58A9A5;
    font-size: 22px;
    margin:0;
}

.stats__text {
    color: #58A9A5;
    font-size: 12px;
    margin: 0;
}